* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bs-font: "GSP-Body-Font";
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
.topbar p {
  background-color: #EDE1D0;
  font-family: var(--bs-font);
  color: #777168;
  font-size:17px;
}
.navbar img{
  width:184px;
  height:50px;
}
.add-pro a , .view-pro a{ 
text-decoration: none;
font-size:20px;
color:#000000;
}
.bar-icon {
  display: flex;
  justify-content: end;
}
/* card section */
.product-card {
  padding: 15px;
  margin-bottom: 30px;
}
.product-image-container {
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7;
  margin-bottom: 15px;
}
.product-image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.product-label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  z-index: 10;
}

.label-new {
  background-color: #e84c3d;
}

.label-sale {
  background-color: #f39c12;
}

.original-price {
  color: #888;
  text-decoration: line-through;
  margin-right: 5px;
}

.current-price {
  font-weight: bold;
  color: #000;
}
.card-btn a , .view-btn a{
  text-decoration: none;
  color: #000000;
}
.card-btn , .view-btn {
  background-color: white;
  border: 1px solid #888;
  align-items: center;
  padding:5px 10px;
}
.product-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
.table-product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
#cart-icon-link {
    position: relative;
}
#cart-icon-link span {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 10px;
    line-height: 1;
    min-width: 15px;
    text-align: center;
}
.product-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.product-image img {
  width: 450px;
  border-radius: 10px;
}

.product-details {
  flex: 1;
}

.price {
  font-size: 22px;
  margin-bottom: 10px;
}

.badge {
  background: #d96a4c;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.label {
  margin: 15px 0 5px;
  font-weight: 600;
}

/* SIZE BUTTONS */
.size-options {
  display: flex;
  gap: 10px;
}

.size-btn {
  padding: 10px 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
}

.size-btn.active {
  border: 2px solid #000;
}

/* COLOR BUTTONS */
.color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.color {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.color.active {
  border: 3px solid black;
}

/* QUANTITY */

.qty-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.qty-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.qty-num {
  font-size: 18px;
}

/* BUTTONS */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-cart-btn {
  padding: 16px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.buy-now-btn {
  padding: 16px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
