body {
    margin: 0;
    background-color: #0d0d0d;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}


.banner {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.9));
    background-image:url('../images/bg-img.jpg');
    background-size: cover;
    z-index: -1;
}

.corona-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    background: rgba(38, 38, 38, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.corona-left {
    background: 
        linear-gradient(180deg, rgba(102,0,0,0.7), rgba(34,0,0,0.7)),
        url('../images/left-img.jpg');
    background-size: cover;
    background-position: center;
    border-right: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}

.custom-input {
    background: rgba(255, 255, 255, 0.799) !important;
    border: 1px solid #444 !important;
    color: rgb(57, 57, 57) !important;
    border-radius: 10px !important;
}

.data-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
