* {
    margin: 0;
    box-sizing: border-box;
}

.py {
    margin-bottom: 100px;
}

.pt {
    margin-top: 100px;
}

:root {
    --bs-primary-color: #ce7353;
    --bs-secondary-color: #faf9f5;
    --bs-text-color: #3d3929;
    --bs-title-font: 'Inter';
    --bs-discription-font: 'Crimson Pro';
}

body {
    background: #faf9f5 !important;
    font-family: var(--bs-title-font), sans-serif;
    font-family: var(--bs-discription-font);
    color: var(--bs-text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: var(--bs-title-font), sans-serif;
    color: var(--bs-text-color) !important;
}

a,
li {
    list-style: none;
    text-decoration: none !important;
}

ul li a {
    font-family: var(--bs-title-font), sans-serif;
    color: var(--bs-text-color);
    font-size: 15px !important;
    font-weight: 500 !important;


}

/* nav-bar */

.navbar-brand {
    font-size: 20px;
    color: var(--bs-text-color) !important;
    font-weight: 600;
}

.navbar-brand img {
    width: 23px;
    height: 27px;
}

.btn {
    width: 100px;
    height: 40px;
    align-items: center;
    background-color: #ce7353 !important;
    color: white !important;
}

.btn span {
    align-items: center;
    line-height: 2.2;
}

.nav-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 3;
}
.nav-btn span i {
    font-weight: 500;
}

/* banner */

.banner {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.banner h1 {
    position: relative;
    z-index: 3;
    transform: translateY(50px);
    color: white !important;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
}
.banner p {
    font-family: var(--bs-discription-font);
    color: white;
    text-align: center;
    transform: translateY(70px);
    font-size: 18px;
    letter-spacing: 2.30px;
    position: relative;
    z-index: 3;

}

.banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5),
            transparent 50%,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 1));
    z-index: 2;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bhagavad-gita-banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;

}

button {
    position: relative;
    z-index: 3;
    color: #ce7353;
    background-color: white;
    height: 50px;
    width: 150px;
     transform: translateY(75px);
    border: none;
    border-radius: 10px !important;
    font-size: 14px !important;
}

.btn-primary {
    position: relative;
    z-index: 3;
    color: white;
    background-color: #ce7353;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px !important;
    font-size: 14px !important;
}

/* chapters */

.title {
    font-weight: 600;
    font-family: var(--bs-discription-font);
}

/* form */

.form-sec .row {
    display: flex;
    width: 1140px;
    height: 436px;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
}

.form-text h2 , .form-text p , .FQ-title h2 , .FQ-title p , .faq-answer p{
    font-family: "Crimson Pro";
}

.form-text input {
    display: flex;
    width:100%;
   height:50px;
    border-radius: 5px;
    background-color: #F5F3EE;
    border: 1px solid #B4B2A7;
}

.form-btn {
    width:100%;
    background-color: #ce7353;

}
.form-img {
    padding: 0;
    position: relative;
}

.form-img img {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px 20px 20px 0px;
}

.form-img .img-content {
    position: absolute;
    background-color: white;
    bottom: 10px;
    left: 50px;
    right: 40px;
    padding: 10px;
    z-index: 2;
    text-align: center;
    border-radius: 10px;
}

.form-img .img-content p {
    font-size: 14px;
    font-family: var(--bs-discription-font);
    font-weight: 500;
    margin: 0;
    color: #625E51 !important;
}

.form-img .img-content span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    color: #ce7353 !important;
}

.form-img .image-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.4));
    border-radius: 0 20px 20px 0;
}

/* footer */

.footer-logo span {
    font-size: 14px;
    color: #3d3929cc;
    font-weight: 300;
    display: block;
    margin-top: 20px;
    font-family: var(--bs-discription-font);
}

.footer-tag {
    color: #9C959A !important;
    font-size: 14px;
}

.icons i {
    color: #9C959A;
}
.icons i:hover{
     color: var(--bs-primary-color) !important;
}
.footer-details h4 {
    font-size: 14px;
    font-family: var(--bs-discription-font);
    color: #3d3929;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-details li a {
    font-size: 14px;
    font-weight: 200;
    color: #9C959A !important;
    font-family: var(--bs-discription-font);
}
.footer-details li a:hover{
    color: var(--bs-primary-color) !important;
}
.Copyright p {
    color: #9C959A;
    font-size: 14px;
    font-family: var(--bs-discription-font);
}

.Copyright a {
    color: #ce7353 !important;
    font-size: 14px;
    font-family: var(--bs-discription-font);
}

.playstore a img {
    width: 140px;
    height: 40px;
}
/*  breadcrumb */ 

.breadcrumb-item+.breadcrumb-item::before {
    color: white !important;
}

.subtitle {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}

.subtitle::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../images/CHAPTER_IMG.....png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.breadcrumb {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px !important;
}

.subtitle::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

/* js */

.chapter-card,
.verses-detail {
    cursor: pointer;
    transition: 0.3s;
}
.card-body h6 {
    color: #ce7353 !important;
}

.card-body h5 {
    font-size: 18px;
    font-weight: 600;
}

.card-body p {
    font-size: 14px;
    color: #3d3929cc;
}

.card {
    padding: 10px;
}
.chapter-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.chapter-detail h3 {
    font-size: 18px;
    font-family: var(--bs-discription-font);
    font-weight: 600;
    text-align: center;
}

.chapter-detail p {
    font-family: var(--bs-discription-font);
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.chapter p {
    font-family: var(--bs-discription-font);
    font-size: 18px;
    line-height: 2.5;
}

.sticky-sidebar {
    width: 400px;
    height: 421px;
}

.bg-lighte {
    background-color: #F7F7F0 !important;
}

.sticky-side img {
    width: 399.2px;
    height: 298.6px;
}

.btn-secondary {
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #464646;
}
.verses-details h3 {
    color: #c96442 !important;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--bs-title-font), sans-serif;

}

.verses-details {
    display: flex;
    align-items: center;
    border-top: 1px solid #dad9d433;
    padding: 45px;
    gap: 35px;
}

.verses-details:hover {
    background-color: #f5f0ea;
}

/* shlok */ 

.shlok-details h3 {
    color: #c96442 !important;
}

.shlok-details span,
.shlok-details p {
    line-height: 2;
}
.shlok-details h4 {
    color: #9C959A !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--bs-discription-font);
}

/* Center wrapper */
.shlok-wrapper {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

/* Breadcrumb */
.breadcrumb-center {
    margin-bottom: 30px;
    font-size: 14px;
}

/* Verse box */
.verse-box {
    background: #F5F0EA;
    padding: 30px;
    border-radius: 18px;
    margin-bottom: 40px;
}

.verse-title {
    font-size: 14px;
    margin-bottom: 15px;
}

.verse-text {
    font-size: 22px;
    line-height: 1.8;
}

.content-box {
    text-align: center;
    margin-bottom: 40px;
}

.content-box h4 {
    margin-bottom: 10px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    transform: translateY(-70px);
}
.nav-buttons button {
    padding: 8px 16px;
}
.nav-buttons button:hover{
    background-color: var(--bs-primary-color);
    color: white;
}
/* faq */

.faq-section {
  padding: 50px 15px;
}

.faq-container {
  max-width: 900px;
  margin: auto;
}

.faq-item {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  overflow: hidden;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.faq-question h3 {
  font-size: 16px;
  margin: 0;
}

.icon {
  font-size: 22px;
  color: #d35400;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.faq-answer p {
  margin: 15px 0;
  color: #555;
  line-height: 1.6;
}

.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .icon {
  content: "×";
}

